<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>381</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<style type="text/css">
		.addresshead {
	text-align: left;
}
        </style>
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2><strong>Restaurant Website</strong></h2>
				<p>s381f mini project </p>
				
			</section>

		<!-- One -->
		
		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>Create Restaurant</h2>
					</header>
				
<body>
  <form action='' method="post">
    Name:&nbsp<input type="text" name="name" required> <br>
    Borough:&nbsp<input type="text" name="borough" size="50" ><br>
    Cuisine:&nbsp<input type="text" name="cuisine" size="50" ><br>
    Photo:&nbsp<input type="file" name="photo" accept="image/*"> <br><br>
    Address:&nbsp<br>Building: <input type="text" name="building" size="50" ><br>
    Street: <input type="text" name="street" size="50" ><br>
    Coordinate:<br> Lat:<input type="text" name="lat"> Long:<input type="text" name="long" ><br>
    <input type="submit" class="button special" name="submit" value="Submit"> 

  </form>

    <a href="/main" class="button special">Home</a>
  </form>
			  </div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
                    <p>Modified by Tai Tsz Kin for the s381F project.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>